.alexbrushregular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 90px;
}

.backVikeHelm {
  z-index: -10;
  width: 10%;
  position: absolute;
  opacity: 40%;
}
.backPackHelm {
  background-image: url("https://nciholasegner.s3.us-east-2.amazonaws.com/leslieWedding/pack-helm.png");
}

.scoreboardText {
  text-align: center;
  margin: 0;
  letter-spacing: 40px;
}
.scoreCont {
  display: flex;
  gap: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.trioCont {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
}
.textCont {
  text-align: center;
}
.saveDateCont {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 20px;
}
.savethedatetext {
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 30px;
}
.weddingOf {
  letter-spacing: 13px;
}
.leslieBrian {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 10px;
}

/* HOTEL */
.venueImage {
  background-image: url("https://lh3.googleusercontent.com/p/AF1QipOknmGzriX46UWl5JxOCReKGoOsMxlbGOjyCN4q=s680-w680-h510-rw");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px; /* Adjust as needed to provide scroll space */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.venue {
  line-height: 0em;
  text-align: center;
}
.saveTitle {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 10px;
}
.hotelContain {
}
.splitContain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.address {
}
.atcbButton {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #d2d2d2;
  border-radius: var(--btn-border-radius);
  box-shadow: rgb(0 0 0 / 08%) 0 4px 14px -2px, rgb(0 0 0 / 12%) 0 2px 6px -1px;
  box-sizing: content-box;
  color: #333;
  cursor: pointer;
  padding: 10px;
  display: flex;
  font-size: 1em;
  font-weight: var(--btn-font-weight);
  justify-content: center;
  line-height: 1.5em;
  margin: 0.13em;
  max-width: 300px;
  font-weight: 800;
  font-size: large;
}
.atcbButton:hover {
}

@media screen and (max-width: 740px) {
  .scoreboardText {
    letter-spacing: 25px;
  }
  .textCont {
    text-align: center;
  }
  .saveDateCont {
    height: auto;
  }
  .savethedatetext {
    font-size: 40px;
    font-weight: 100;
    margin: 0;
  }
  .saveDateCont {
    display: block;
  }
  .alexbrushregular {
    margin: 0;
  }
  .splitContain {
    grid-template-columns: 1fr;
    place-content: center;
  }
  .address {
    text-align: center;
  }
  .atcbButton {
    text-align: center;
    margin: auto;
  }
}
